@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -12px;
    margin-right: -12px;
}

.col-4 {
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.d-flex {
    display: flex;
}

section {
    display: flex;
    flex-wrap: wrap;
    background: #0C0B0B;
}

.heading {
    font-family: Poppins;
    font-size: 48px;
    font-weight: 600;
    line-height: 61px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 20px;
}

.top-box {
    width: 368px;
    height: 154px;
    border-radius: 10px;
    border: 1px solid #474646;
    background: #141313;
    padding: 20px;
    padding-left: 30px;
}

.top-box:hover .n-3-5 {
    color: #F06500;
}

.top-box:hover {
    background: linear-gradient(95.21deg, rgba(255, 255, 255, 0.2) -0.59%, rgba(255, 255, 255, 0.092) 106.99%),
        linear-gradient(94.88deg, rgba(255, 255, 255, 0.1) 0.97%, rgba(255, 255, 255, 0) 103.14%);
}

.h-2 {
    font-family: Poppins;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.h-3 {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    opacity: 70%;
}

.n-3-5 {
    font-family: Poppins;
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.Buying-box {
    justify-content: space-between;
    width: 70%;
}

.main {
    background: #141313;
    border: 1px solid #464545;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.img-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 40px;
}

.img-1 {
    width: 301px;
    height: 301px;
}

.img-2 {
    height: 305px;
}

.img-3 {
    width: 285px;
    height: 350px;
}

.table-1 {
    width: 100%;
    margin-top: 70px;
}

.table-1 tr th {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}

.table-1 tr td {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    padding-top: 15px;
    opacity: 60%;
}
.table-heading{
    background: #0C0C0C;
    width: 16%;
}